In [2]:
''' TOPIC: String Based Assignment Problem'''

' TOPIC: String Based Assignment Problem'

In [10]:
'''1. Write a program to reverse a string.'''
h1="ansul"
h2= h1[::-1]
h2

'lusna'

In [15]:
#2. Check if a string is a palindrome. "if the word is palindrome it will show the output otherwise no ouput
h3="kak"
h4=h3[::-1]
if (h4==h3):
    print("this is a palindrome")

this is a palindrome

In [16]:
#3. Convert a string to uppercase.
h5="hiii world"
h5.upper()

'HIII WORLD'

In [17]:
#4. Convert a string to lowercase.
h7="HELLO WORLD"
h7.lower()

'hello world'

In [34]:
#5. Count the number of vowels in a string.
h9="pwskills"
a1=h9.count("a")
a2=h9.count("e")
a3=h9.count("i")
a4=h9.count("o")
a5=h9.count("u")
sum=a1+a2+a3+a4+a5
sum

1

In [35]:
#6.Count the number of consonants in a string.
a6=len("pwskills")
consonants=a6-sum
consonants

7

In [36]:
#7.Remove all whitespaces from a string.
a7="    hiii   "
a7.strip()

'hiii'

In [2]:
#8. Find the length of a string without using the `len()` function.
a8="hello"
count=0
for i in a8:
   count+=1
count

5

In [3]:
#9. Check if a string contains a specific word.
string="hello pwskills,this my first class"
found=string.rfind("hello")
if(found != -1):
    print("string has that word")

string has that word

In [4]:
#10.Replace a word in a string with another word.
string="hello pwskills,this my first class"
string.replace("hello","hi")

'hi pwskills,this my first class'

In [5]:
#11. Count the occurrences of a word in a string.
string="hello , hello pwskills,this my first class"
counter=string.count("hello")
print("count of hello in the string is :" +str(counter))

count of hello in the string is :2

In [7]:
#12. Find the first occurrence of a word in a string.
word = 'there is a dog in the street for eating food'
print(word.find('for'))

29

In [10]:
#13. Find the last occurence of a word in as string.
str1 = "Welcome to physics wala skills , it is physics wallah in physics platform"

index = str1.rindex('physics')
print("The last index of t in the given string is",index)

The last index of t in the given string is 57

In [11]:
#14. Split a string into a list of words.
str2="pwskiils is platform"
print(str2.split())

['pwskiils', 'is', 'platform']

In [1]:
#15. Join a list of words into a string.
# Joining with empty separator
list1 = ['g', 'e', 'e', 'k', 's']
print("".join(list1))

# Joining with string
list1 = " geeks "
print("$".join(list1))

geeks
 $g$e$e$k$s$

In [9]:
#16. Convert a string where words are separated by spaces to one where words are separated by underscores.
str3="hello world"
str3.replace(" ","_")

'hello_world'

In [10]:
#Check if a string starts with a specific word or phrase.
var = "Gods are for people"
 
print(var.startswith("Gods"))
print(var.startswith("Hello"))

True
False

In [13]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").
str3="hello world"
str3.title()

'Hello World'

In [20]:
# Reverse the order of words in a string.
string = "pw quiz practice code"
s = string.split()[::-1]
l = []
for i in s:
 l.append(i)
print(" ".join(l))

code practice quiz pw

In [30]:
# Find the longest word in a string.
string ="pw quiz practice code"
s=string.split()[::1]
l=[]
for i in s:
    l.append(i)
    
if(len(l[0])>len(l[1]) and len(l[0])>len(l[2]) and len(l[0])>len(l[3])):
   print("pw is the largest word in the string ")

if(len(l[1])>len(l[0]) and len(l[1])>len(l[2]) and len(l[1])>len(l[3])):
   print("quiz is the largest word in the string ")

if(len(l[2])>len(l[1]) and len(l[2])>len(l[0]) and len(l[2])>len(l[3])):
 print(" practise is the largest word in the string ")

if(len(l[3])>len(l[1]) and len(l[3])>len(l[2]) and len(l[3])>len(l[0])):
   print("code is the largest word in the string ")

 practise is the largest word in the string

In [31]:
#Check if a string is alphanumeric.
txt = "Company 12"

x = txt.isalnum()

print(x)

False

In [33]:
#Extract all digits from a string.
test_string = "There are 2 apples for 4 persons"
print("The original string : " + test_string)
res = [int(i) for i in test_string.split() if i.isdigit()]
print("The numbers list is :" + str(res))

The original string : There are 2 apples for 4 persons
The numbers list is :[2, 4]

In [37]:
#Extract all alphabets from a string.

string = input("Enter a string: ")
only_alpha = ""
for char in string:
 if ord(char) >= 65 and ord(char) <= 90:
  only_alpha += char
 elif ord(char) >= 97 and ord(char) <= 122:
  only_alpha += char

print(only_alpha)

Enter a string:  here are 2 apples for 4 persons

hereareapplesforpersons

In [39]:
# Count the number of uppercase letters in a string.
#. Count the number of lowercase letters in a string.
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

Enter string: he IS a

The number of lowercase characters is:
3
The number of uppercase characters is:
2

In [40]:
#Swap the case of each character in a string.
string = "DaTaSCIenCe"
print(string.swapcase())

dAtAsciENcE

In [45]:
#Remove a specific word from a string.
string = "he is good programmer"
string.replace("good","")

'he is  programmer'

In [48]:
#replace multiple spaces with a single space 
my_str = 'ansul     is    coding'
result = " ".join(my_str.split())
print(result)

ansul is coding

In [52]:
 # Find the frequency of each character in a string.
   
 test_str = "physicswallahpw"
all_freq = {}

for i in test_str:
	if i in all_freq:
		all_freq[i] += 1
	else:
		all_freq[i] = 1


print("Count of all characters in  is physicswallahpw :\n "
	+ str(all_freq))

Count of all characters in  is physicswallahpw :
 {'p': 2, 'h': 2, 'y': 1, 's': 2, 'i': 1, 'c': 1, 'w': 2, 'a': 2, 'l': 2}

In [68]:
#remove all punctuation from a string.

test_str = "pw, is best : for ! pw ;"
print("The original string is : " + test_str)
punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''


for ele in test_str:
	if ele in punc:
		test_str = test_str.replace(ele, "")
print("The string after punctuation filter : " + test_str)

The original string is : pw, is best : for ! pw ;
The string after punctuation filter : pw is best  for  pw

In [1]:
'''check whether a string contains only numbers or only alphabets.'''

ini_string1 = '1234556'
ini_string2 = 'ab123bc'


print("Initial Strings : ", ini_string1, ini_string2)


if ini_string1.isdigit():
	print("String1 contains all numbers")
else:
	print("String1 doesn't contains all numbers")

if ini_string2.isdigit():
	print("String2 contains all numbers")
else:
	print("String2 doesn't contains all numbers")

Initial Strings :  1234556 ab123bc
String1 contains all numbers
String2 doesn't contains all numbers

In [4]:
#covert  a string to a list of charecters
string = "pw quiz practice code"
s = string.split()[::1]
l = []
for i in s:
 l.append(i)
l

['pw', 'quiz', 'practice', 'code']

In [4]:
#check if 2 given strings are anagrams
str1 = "Race"
str2 = "Care"

str1 = str1.lower()
str2 = str2.lower()

if(len(str1) == len(str2)):


    sorted_str1 = sorted(str1)
    sorted_str2 = sorted(str2)

    if(sorted_str1 == sorted_str2):
        print(str1 + " and " + str2 + " are anagram.")
    else:
        print(str1 + " and " + str2 + " are not anagram.")

else:
    print(str1 + " and " + str2 + " are not anagram.")

race and care are anagram.

In [5]:
#Encode a string using a Caesar cipher.
def most_frequent(str1):
    """Find the most frequent word in a string."""
 
    words = str1.split()


    frequency = {}
    for word in words:
        if word in frequency:
            frequency[word] += 1
        else:
            frequency[word] = 1

  
    most_frequent_word = max(frequency, key=frequency.get)

    return most_frequent_word



string = "This is a test string with repeated words."
most_frequent_word = most_frequent(string)
print(most_frequent_word)

This

In [6]:
#count the no. of syllabels in a string
def count_syllables(word):
    word = word.lower()
    counter = 0
    is_previous_vowel = False
    for index, value in enumerate(word):
        if value in ["a", "e", "i", "o", "u", "y"]:
            if index == len(word) - 1:
                if value == "e":
                    if counter == 0:
                        counter += 1
                else:
                    counter += 1
            else:
                if is_previous_vowel == True:
                    counter += 1
                    is_previous_vowel = False
                    break
            is_previous_vowel = True
        else:
            if is_previous_vowel == True:
                counter += 1
            is_previous_vowel = False
    print ("In \"{}\" I count {} syllables".format(word, counter))

count_syllables("coding")

In "coding" I count 2 syllables

In [7]:
#remove the nth charecter from a list 
def remove_word(list1, word, n1):
	def generator():
		count = 0
		for i in list1:
			if i != word or (i == word and count != n1):
				yield i
			if i == word:
				count += 1
	return list(generator())

# Driver code
list1 = ["he", "is", "ankit", "is", "raj", "is", "ankit raj"]
word = "is"
n1 = 3

print("New list is :", remove_word(list1, word, n1))

New list is : ['he', 'is', 'ankit', 'is', 'raj', 'is', 'ankit raj']

In [8]:
#Convert a CSV string to a list of lists.

def convert_csv_to_list_of_lists(csv_string):
  list_of_lists = []
  for line in csv_string.splitlines():
    sublist = []
    for value in line.split(","):
      # Remove any quotes around the value.
      value = value.strip('"')
      # Append the value to the sublist.
      sublist.append(value)
    # Append the sublist to the list of lists.
    list_of_lists.append(sublist)
  return list_of_lists

# Example usage:

csv_string = """
1,2,3
4,5,6
7,8,9
"""

list_of_lists = convert_csv_to_list_of_lists(csv_string)

print(list_of_lists)

[[''], ['1', '2', '3'], ['4', '5', '6'], ['7', '8', '9']]

In [1]:
'''List Based Practice Problem :'''

'List Based Practice Problem :'

In [2]:
#Create a list with integers from 1 to 10.
integer_list = [i for i in range(1, 11)]
print(integer_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
#Find the length of a list without using the `len()` function.
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

my_list = [100, 200, 300, 400, 500,600]
length = custom_len(my_list)
print("Length of the list:", length)

Length of the list: 6

In [4]:
#Append an element to the end of a list.
my_list = [10, 20, 30]
new_element = 40
my_list.append(new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 30, 40]

In [5]:
#Insert an element at a specific index in a list.
# Example list
my_list = [10, 20, 30, 40, 50]
new_element = 25
index_to_insert = 2
my_list.insert(index_to_insert, new_element)
print("Updated list:", my_list)

Updated list: [10, 20, 25, 30, 40, 50]

In [6]:
#Remove an element from a list by its value.
# Example list
my_list = [10, 20, 30, 40, 50]
element_to_remove = 30
my_list.remove(element_to_remove)
print("Updated list:", my_list)

Updated list: [10, 20, 40, 50]

In [7]:
#Remove an element from a list by its index.
# Example list
my_list = [10, 20, 30, 40, 50]
index_to_remove = 2
removed_element = my_list.pop(index_to_remove)
print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

In [8]:
# Check if an element exists in a list.
my_list = [10, 20, 30, 40, 50]
element_to_check = 30
if element_to_check in my_list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

In [9]:
#Find the index of the first occurrence of an element in a list.

my_list = [10, 20, 30, 40, 50, 30]

element_to_find = 30

index = my_list.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

In [10]:
#Count the occurrences of an element in a list.
my_list = [10, 20, 30, 40, 50, 30, 30]

element_to_count = 30

count = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

In [11]:
#Reverse the order of elements in a list.

my_list = [10, 20, 30, 40, 50]

my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

In [12]:
#Sort a list in ascending order.
my_list = [50, 10, 30, 40, 20]

my_list.sort()

print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

In [13]:
#Sort a list in descending order.
my_list = [50, 10, 30, 40, 20]

my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

In [14]:
# Create a list of even numbers from 1 to 20.
even_numbers = [x for x in range(2, 21, 2)]
print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [15]:
# Create a list of odd numbers from 1 to 20.
odd_numbers = [x for x in range(1, 21, 2)]
print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [16]:
#Find the sum of all elements in a list.
my_list = [10, 20, 30, 40, 50]
total_sum = sum(my_list)
print("Sum of elements:", total_sum)

Sum of elements: 150

In [17]:
#Find the maximum value in a list.
my_list = [10, 20, 30, 40, 50]
max_value = max(my_list)
print("Maximum value:", max_value)

Maximum value: 50

In [18]:
#Find the minimum value in a list.

my_list = [10, 20, 30, 40, 50]
min_value = min(my_list)
print("Minimum value:", min_value)

Minimum value: 10

In [19]:
#Create a list of squares of numbers from 1 to 10.
squares = [x ** 2 for x in range(1, 11)]
print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [20]:
#Create a list of random numbers.
import random
random_integers = [random.randint(1, 100) for _ in range(10)]
print("List of random integers:", random_integers)

List of random integers: [2, 46, 56, 39, 62, 11, 7, 32, 91, 85]

In [22]:
# Remove duplicates from a list.
my_list = [10, 20, 30, 20, 40, 10, 50, 30]
unique_list = list(set(my_list))
print("List without duplicates:", unique_list)

List without duplicates: [40, 10, 50, 20, 30]

In [41]:
#Find the common elements between two lists.
a=[2,3,4,5]
b=[3,5,7,9]
def common(a,b): 
    c = [value for value in a if value in b] 
    return c
d=common(a,b)
print(d)

[3, 5]

In [42]:
#Find the difference between two lists.
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]
difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [43]:
#Merge two lists.
list1 = [10, 20, 30]
list2 = [40, 50, 60]
merged_list = list1 + list2
print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

In [44]:
#Multiply all elements in a list by 2.
my_list = [10, 20, 30, 40, 50]
multiplied_list = [x * 2 for x in my_list]
print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

In [7]:
#Filter out all even numbers from a list.
lis = [1, 2, 3, 4, 5]
 
# Output list initialisation
out = []
 
for num in lis:
 
    # checking condition
    if num % 2 == 0:
        out.append(num)
 
 
    
print(out)

[2, 4]

In [8]:
#Convert a list of strings to a list of integers.
string_list = ["10", "20", "30", "40", "50"]

integer_list = [int(x) for x in string_list]

print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

In [9]:
#Convert a list of integers to a list of strings.
integer_list = [10, 20, 30, 40, 50]
string_list = [str(x) for x in integer_list]
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

In [16]:
#Create a list of the first 10 Fibonacci numbers.
def generate_fibonacci(n):
    fibonacci_list = [0,1] 

    for i in range(2, 10):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list


fibonacci_numbers = generate_fibonacci(2)
print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [17]:
#Check if a list is sorted.
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

# Example list
ascending_list = [10, 20, 30, 40, 50]

# Check if the list is sorted in ascending order
if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

In [18]:
#Rotate a list to the left by `n` positions.
def rotate_left(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[n:] + lst[:n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the left by n positions
rotated_list = rotate_left(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

In [19]:
#Rotate a list to the right by `n` positions.
def rotate_right(lst, n):
    n = n % len(lst)  # Normalize n to handle cases where n is larger than the list length
    # print(n)
    rotated = lst[-n:] + lst[:-n]
    return rotated

# Example list
my_list = [1, 2, 3, 4, 5, 6]

# Number of positions to rotate by
n = 2

# Rotate the list to the right by n positions
rotated_list = rotate_right(my_list, n)

# Print the rotated list
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

In [20]:
#33. Create a list of prime numbers up to 50.
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [21]:
#Find the second largest number in a list.

my_list = [10, 5, 20, 15, 30, 25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

In [22]:
#Replace every element in a list with its square.
my_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

In [23]:
#Convert a list to a dictionary where list elements become keys and their indices become values.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [24]:
#Shuffle the elements of a list randomly.
import random

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

random.shuffle(my_list)

print("Shuffled list:", my_list)

Shuffled list: [1, 3, 2, 8, 6, 4, 9, 7, 5, 10]

In [25]:
#Create a list of the first 10 factorial numbers.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [26]:
#Check if two lists have at least one element in common.
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False

# Example lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Check if the two lists have at least one element in common
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

In [27]:
#Remove all elements from a list.

my_list = [1, 2, 3, 4, 5]


my_list.clear()

print("Empty list:", my_list)

Empty list: []

In [1]:
#Replace negative numbers in a list with 0.
my_list = [10, -5, 20, -15, 30, -25]


for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0

# Print the list after replacing negative numbers with 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

In [2]:
#Convert a string into a list of words.
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

In [3]:
#Convert a list of words into a string.

word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

In [4]:
#Find the longest string in a list of strings.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

In [5]:
#Create a list of the first `n` triangular numbers.
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the shortest string in the list
shortest_string = string_list[0]  
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s


print("Shortest string:", shortest_string)

Shortest string: date

In [6]:
#Check if a list contains another list as a subsequence.
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [8]:
#Swap two elements in a list by their indices.
my_list = [1, 2, 3, 4, 5]


index1 = 1
index2 = 3


temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

In [3]:
'''Tuple based questions'''

'Tuple based questions'

In [2]:
#cREATE A TUPLE WITH INTEGERS FROM 1-
my_tuple =(10,20,30,40,50)
my_tuple

(10, 20, 30, 40, 50)

In [5]:
#acess the third element of the tuple
my_tuple =(10,20,30,40,50)
third_element=my_tuple[2]
print("the 3rd element of the tuple is :",third_element)

the 3rd element of the tuple is : 30

In [8]:
#find the length of a tuple without using len() function 
my_tuple =(10,20,30,40,50)
count=0
for _ in my_tuple:
    count +=1
    
    
print("the no of element in the tuple is:",count)

the no of element in the tuple is: 5

In [9]:
#count the number of occurence of a elemment in a tuple 
my_tuple =(10,20,30,40,20,20,50)
element_to_count =20
count=0
for item in my_tuple:
    if item == element_to_count:
        count +=1
        
        
print("the number of occurence of 20 is",count)

the number of occurence of 20 is 3

In [11]:
#find the index of the first occurence of a element in the tuple 
my_tuple =(10,20,30,20,40,50)
element_to_find = 20

# Step 3: Initialize a variable to keep track of the index
index = -1  # Initialize with -1 to indicate that the element was not found

# Step 4: Iterate through the tuple and find the index of the chosen element
for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  # Exit the loop once the first occurrence is found

# Step 5: Print the index of the first occurrence
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [15]:
#check if an element exist in a tuple
my_tuple =(10,20,30,40,50)
element_to_check =30
if element_to_check in my_tuple:
    print(f"{element_to_check} exists in tje tuple")
else:
    print(f"{element_to_check} not exists in tje tuple")

30 exists in tje tuple

In [16]:
#convert a tuple to a list
my_tuple =(10,20,30,40,50)
my_list = list(my_tuple)
print("tuple:",my_tuple)
print("list:",my_list)

tuple: (10, 20, 30, 40, 50)
list: [10, 20, 30, 40, 50]

In [17]:
#convert a list to a tuple
my_list = [10, 20, 30, 40, 50]

# Step 2: Convert the list to a tuple
my_tuple = tuple(my_list)

# Step 3: Print the resulting tuple
print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

In [18]:
#unpack the element of tuple to a variable
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [19]:
#create a tuple of even number from 1-10
even_number = [num for num in range(2,11,2)]
even_number_tuple = tuple(even_number)
even_number_tuple

(2, 4, 6, 8, 10)

In [20]:
#create tuples for the odd numbers 
even_number = [num for num in range(1,11,2)]
even_number_tuple = tuple(even_number)
even_number_tuple

(1, 3, 5, 7, 9)

In [22]:
#concatenate 2 tuples
tuple1 =(1,2,3)
tuple2=(4,5,6)
concatwnate_tuple=tuple1+tuple2
concatwnate_tuple

(1, 2, 3, 4, 5, 6)

In [23]:
#repeat a tuple 3 times 
original_tuple = (1, 2, 3)

# Step 2: Repeat the tuple three times
repeated_tuple = original_tuple * 3

# Step 3: Print the repeated tuple
print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
#check if a tuple is empty
empty_tuple = ()
non_empty_tuple = (1, 2, 3)

# Step 2: Check if the tuples are empty
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [27]:
#create a nested tuple 
nested_tuple =((1,2,3),('a','b','c'),(True,False))
nested_tuple

((1, 2, 3), ('a', 'b', 'c'), (True, False))

In [28]:
#access the first element of a nested tuple
nested_tuple =((1,2,3),('a','b','c'),(True,False))
first_element=nested_tuple[0]
print("the first element of the nested  tuple:",first_element)

the first element of the nested  tuple: (1, 2, 3)

In [29]:
#Create a tuple with a single element
single_element_tuple = (42,)  # Note the trailing comma

# Step 2: Print the single element tuple
print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

In [30]:
#compare two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

In [1]:
#slice a tuple

my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)


sliced_tuple = my_tuple[2:6]  

#
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

In [2]:
#find the maximum value in a tuple 
my_tuple =( 10,20,30,5,45)
max_value = max(my_tuple)
print("the max value is",max_value)

the max value is 45

In [3]:
#find min value in a tuple 
my_tuple = (10, 20, 5, 45, 30)


min_value = min(my_tuple)


print("Minimum value:", min_value)

Minimum value: 5

In [6]:
#convert a string to a tuple of charecters 
my_string = "hello,world"
tuple_of_charecters = tuple(my_string)
print("tuple of charecters:", tuple_of_charecters)

tuple of charecters: ('h', 'e', 'l', 'l', 'o', ',', 'w', 'o', 'r', 'l', 'd')

In [8]:
#convert a tuple of charecters to string
tuple_of_charecters = ('H','e','l','l','o')
string_from_tuple=''.join(tuple_of_charecters)
print("string from tuple:",string_from_tuple)

string from tuple: Hello

In [10]:
#create a tuple from multiple datatypes 
mixed_tuple = (1,"hello",3.14,True)
print(mixed_tuple)

(1, 'hello', 3.14, True)

In [13]:
#check if two strings are identical
tuple1 = (1,2,3)
tuple2 = (1,2,3)
tuple3 = (7,8,9)
are_identical1 = tuple1 == tuple2
are_identical2 = tuple2 ==tuple3
print(are_identical1)
print(are_identical2)

True
False

In [15]:
#sort the element of a tuple.
my_tuple = (5,2,8,1,3)
a=tuple(sorted(my_tuple))
a

(1, 2, 3, 5, 8)

In [18]:
#convert a tuple of integers to a tuple of strings 
tuple_of_integers = (1,2,3,4,5)
tuple_of_string =tuple(str(item)for item in tuple_of_integers)
print("thr tuple of strings is", tuple_of_string)

thr tuple of strings is ('1', '2', '3', '4', '5')

In [19]:
#convert a tuple of  strings to a tuple of integers
tuple_of_string =('1','2','3','4','5')
tuple_of_integer= tuple(int(item) for item in tuple_of_string)
tuple_of_integers

(1, 2, 3, 4, 5)

In [1]:
#merge 2 tuples
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

# Step 2: Merge the two tuples using the '+' operator
merged_tuple = tuple1 + tuple2

# Step 3: Print the merged tuple
print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

In [2]:
#flatten a neste tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [3]:
#create a tuple of the first 5 prime numbers
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [5]:
#check if a tuple is palindrome
def is_palindrome(tup):
    return tup == tup[::-1]


palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)


is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

In [6]:
#creatwe a tuple of squares 
squares_tuple = tuple(x ** 2 for x in range(1, 6))


print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

In [7]:
#multiply all elements of tuple by 2 
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)
print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

In [8]:
#create a tuple of random numbers
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))  

print("Random tuple:", random_tuple)

Random tuple: (53, 92, 81, 26, 23, 78, 11, 53, 48, 26)

In [10]:
#check if tuple is sorted
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True


sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)


is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [2]:
#rotate tuple by nth positions 
def rotate_tuple_left(tup, n):
    n = n % len(tup) 
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [3]:
#Create A TUPLE OF THE FIRST 5 FIBONACCI NUMBERS
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)
    return tuple(fibonacci) 


fibonacci_tuple = generate_fibonacci(5)


print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [4]:
#CREATE A TUPLE OF USER INPUT
input_str = input("enter element separated by commas:")
input_list=input_str.split(',')
user_tuple = tuple(input_list)
user_tuple

enter element separated by commas: 11,34,55,66,77

('11', '34', '55', '66', '77')

In [5]:
#reverse a element pf a tuple
my_tuple = (1, 2, 3, 4, 5)

# Reverse the elements using slicing
reversed_tuple = my_tuple[::-1]

# Print the reversed tuple
print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

In [6]:
#create a tuple of the first n powers of 2 
n = 5

powers_of_2_tuple = tuple(2 ** i for i in range(n))

print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [7]:
#find the shprtest string thr tuplr 
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: kiwi

In [8]:
#create a tuple of the first n triangular numbers.

n = 5

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

In [9]:
#check if a tuple contains another tuple as a subsequence 
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [10]:
#create a tuple of alternating 1s and 0s of length n
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [12]:
'''SET BASED PROBLEMS :'''

'SET BASED PROBLEMS :'

In [13]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

In [14]:
#add a element to a set 
my_set = {1, 2, 3, 4, 5}


print("Original set:", my_set)


element_to_add = 6
my_set.add(element_to_add)

print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

In [15]:
#remove an element from a set 
my_set = {1, 2, 3, 4, 5}


print("Original Set:", my_set)


element_to_remove = 3

my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [16]:
#check if an element exists in a set 
my_set = {1, 3, 5, 7, 9}

element_to_check = int(input("Enter the element to check: "))

if element_to_check in my_set:

    print(f"{element_to_check} exists in the set.")
else:

    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  5

5 exists in the set.

In [17]:
#clear all elements from a set 
my_set = {1, 2, 3, 4, 5}


print("Original set:", my_set)

my_set.clear()

print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

In [18]:
#create a set of even number from 1 to 10 
even_numbers_set = set()

for num in range(1, 11):

    if num % 2 == 0:
    
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

In [19]:
#find the unions of two sets 
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

In [20]:
#find the intersection of two sets 
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

In [21]:
#find the difference between two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}


difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

In [22]:
#check if a set is a subset of another set 
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

In [23]:
#check if a set is a superset of another set
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}


is_superset = set1.issuperset(set2)

if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

In [1]:
#Create a set from a list 
my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

In [3]:
#convert a set to a list 
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}

my_list = list(my_set)

print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

In [4]:
#remove a random element from a set 
import random  # Import the random module

my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

random_element = random.choice(list(my_set))

my_set.remove(random_element)

print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 2 : {1, 3, 4, 5}

In [5]:
#pop an element from a set 
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

popped_element = my_set.pop()

print("Popped element:", popped_element)

print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

In [6]:
#check if two set have no element in common 
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}


common_elements = set1.intersection(set2)


if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

In [7]:
#find the symmetric difference between two sets 
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

In [8]:
#update a set with elements from a another set 
set1 = {1, 2, 3}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

In [9]:
#create a set of d=first 5 prime numbers 
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()

num = 2

while len(prime_set) < 5:
  
    if is_prime(num):

        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [10]:
#check if two sets are identical
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4} 
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

In [11]:
#create a frozen set 
elements = [1, 2, 3, 4, 5]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [13]:
#check ifa set is disjoint 
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [14]:
#create a set of squares of numbers from 1 to 5 
squares_set = set()

for num in range(1, 6):

    square = num ** 2

    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

In [15]:
#create a set of random number 
import random

num_random_numbers = 5

random_number_set = set()

for _ in range(num_random_numbers):

    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)

print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {32, 64, 73, 19, 93}

In [16]:
#check if set is empty 
my_set = set()

# Step 2: Check if the set is empty using the 'if' statement
if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

In [17]:
#create a nested seet 
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

In [18]:
#Remove all element from a set using discard 
my_set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

In [19]:
#compsre 2 sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

In [20]:
#create a set from a string 
input_string = "hello"
char_set = set(input_string)
print(char_set)

{'h', 'o', 'l', 'e'}

In [21]:
#convert a set of strings to set of integers 
string_set = {"123", "456", "789"}
integer_set = set()
for string in string_set:
    integer_value = int(string)

    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'123', '456', '789'}
Converted Integer Set: {456, 123, 789}

In [22]:
#find the maximum a value in a set 
my_set = {15, 7, 22, 13, 8}
max_value = None
for num in my_set:
  
    if max_value is None or num > max_value:
        max_value = num 
print("Maximum value:", max_value)

Maximum value: 22

In [23]:
#create a set from user input 
user_set = set()

print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")

    if user_input.lower() == 'done':
        break 
user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  67,78n98, 76, 46
>  jk
>  ugthj
>  guhn
>  6789
>  TRue
>  done

Final set: {'done'}

In [24]:
#create a set of the first 5 fibonanci numbers 
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [25]:
#remove duplicates from a list using set 
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]

unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

In [26]:
#check if two set have the set element regardless of their count 
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2

set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}
result = have_same_elements(set1, set2)
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

In [27]:
#find the common element b/w a set and a list 
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]
list_to_set = set(my_list)
common_elements = []
for element in my_set:
    if element in list_to_set:
     
        common_elements.append(element)

print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [28]:
#check if a set contains another set as a subset 
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [40]:
#create a list of alternating 0 and 1 
def create_alternating_set(n):
   
    alternating_set = set()

    for i in range(n):
    
        if i % 2 == 0:
            alternating_set.add(1) 
        else:
            alternating_set.add(0)  

    return alternating_set
length_n = 10
result = create_alternating_set(length_n)

print(result)

{0, 1}

In [41]:
#merge two set into 1
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)
print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}